# Ignorar el directorio node_modules y su contenido
node_modules/
.env
# Ignorar archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de configuración específicos del IDE
.vscode/
.idea/

